@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-error-contrast: #980000a9;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #2b2e4a;
  --color-primary-contrast: #ffffff;
}

.colored::before{
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: -35px;
  border-radius: 100%;
  height: 15px;
  background-image: linear-gradient(to right, black 0%, black 100%);
  /* filter: blur(20px); */
}
.colored::after{
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: -35px;
  border-radius: 100%;
  height: 15px;
  background-image: linear-gradient(to right, black 0%, black 100%);
  border: 50%;
  filter: blur(40px);
}